{% extends "base.html" %}
{% block title %}
Cell Automata
{% endblock %}
{% block content %}
<div class="root">
  <div class="container">
    <div class="game_interface">
        <form action="" id="form" method="post">

          <div class="game_arena">
            <div class="container">
              <div class="game_arena-content">
                <h5>Arena</h5>
                <div id="game_grid">
                </div>
              </div>
            </div>
          </div>
          
        </form>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="/static/js/cellauto-scripts.js"></script>
{% endblock %}