{% extends "base.html" %}
{% block title %}
Cell Automata
{% endblock %}
{% block content %}
<div class="box">
  <div class="box__input">
    <input class="box__input-input" placeholder="Введите количество строк и столбцов (n*n)">
    <button class="box__input-btn">Создать таблицу</button>
  </div>
  <!-- <div class="box__content">

  </div> -->
  
</div>
<div class="template">
  <div class="template__box box__content"></div>
</div>
{% endblock %}



{% block scripts %}
<script src="/static/js/cell-auto.js"></script>

{% endblock %}