{% extends "base.html" %}
{% block title %}
Heart Automata
{% endblock %}

{% block content %}

<div class="container-custom interface-group position-relative">
  <div class="container-fluid">
    <div class="col-md-6">
      <p class="lead">
        CELL
      </p>
    </div>
    <div class="col-md-6">
      <button type="submit" class="btn btn-outline-dark submit_btn">></button>
    </div> 
    
    
  </div>
  <hr>

  <div class="position-absolute end-0" style="max-width: 20%;">
    
    
    <div class="card col">
      
      <div class="card-body">
        <div class="row">
          <input class="input_neuron_quantity" type="text" id="input_quantity">
          <label for="input_quantity">Neurons Quantity</label>
        </div>

        <div class="row">
          <input class="input_neuron_treshold" type="text" id="input_treshold">
          <label for="input_treshold">Neuron Treshold</label>
        </div>
        <button type="button" class="btn btn-outline-dark link_submit_btn">Submit</button>

    {% for node in nodes %}
        <div class="row">
          <input class="input_value" type="text" value="{{ node[0] | safe}}" id="input_{{ loop.index | safe }}">
          <label for="input_{{loop.index | safe}}">Neuron {{ loop.index | safe }}</label> 
        </div>
    {% endfor %}
      </div>

    </div>

    
  </div>


  {% for node in nodes %}

  <div class="node justify-content-center" style="{{ node[1] | safe }}" id="node_{{ loop.index | safe }}">

    <div class="node_header">
      Drag here
    </div>

    <div class="node_card position-relative">
      <!--
      <input class="value" type="text" name="{{ loop.index | safe }}" value="{{ node[0] | safe }}"
             id="input{{ loop.index | safe }}">
      <label for="input{{ loop.index | safe }}">{{ node[0] | safe }}</label>
      -->
      <div class="node_value">
        {{ node[0] | safe }}
      </div>
      <div class="node_identifier">
        {{ loop.index | safe }}
      </div>

    </div>

  </div>
      
  {% endfor %}
</div>
<div class="link_list_holder" style="display: none;">
 {{ link_list | tojson | safe }}
</div>
{% endblock %}

{% block scripts %}
<script src="/static/js/js-custom.js"></script>

<script>
  
</script>
{% endblock %}


