{% extends "base.html" %}
{% block title %}
Main page
{% endblock %}
{% block content %}

    <div class="card md-6">
        <div class="card-header">
            Title
        </div>

        <div class="card-body">
            <div class="btn-group" role="group" aria-label="Basic example">
                <a href="{{ url_for('cell_automata_init') }}">
                    <button type="button" class="btn btn-primary">Cell Automata</button>
                </a>
                <a href="{{ url_for('heart_automata') }}">
                    <button type="button" class="btn btn-primary">Heart Automata</button>
                </a>
                <a href="{{ url_for('test_page') }}">
                    <button type="button" class="btn btn-primary">Test Page</button>
                </a>
            </div>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-primary">Primary</button>
        </div>
    </div>

{% endblock %}
{% block scripts %}

{% endblock %}>

