
.container{
    width: auto;
    position: relative;
}
.node_card {
    z-index: 4;
    background-color: #f1f1f1;

    
    text-align: center;
}

.value {
  width: 100%;
}
.line {
  z-index: -1;
  position: absolute;
  stroke: black;
  stroke-width: 2px;
}

.node {
  z-index: 5;
  position: absolute;
  width: 50px;
  height: 50px;
}
.node_header {
  cursor: move;
  padding: 10px;
  z-index: 5;
}

.node_block {
  text-align: center;
  width: 30px;
  height: 30px;
}
.block {
  position: absolute;
  z-index: 4;
    width: 30px;
    height: 30px;
    background-color: red;
    
  }

  #block1 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: move;

  }
  
  #block2 {
    top: 30%;
    left: 70%;
    cursor: move;

    transform: translate(-50%, -50%);
  }

  .filling_block {
    position: absolute;
    z-index: 7;
    background-color: beige;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

.box__content{
  padding: 10px;
  background: grey; 
  /* width: 800px; 
  height: 500px; */
  display: flex; 
  flex-direction: column; 
  width: fit-content;
  gap: 5px;
  margin-top: 15px;
}
.newRow{
  display: flex; 
  gap: 5px;
}
.newEl{
  width: 40px; 
  height: 40px; 
  background: white; 
  /* display: inline; */
  border-radius: 5px;
}
.black{
  background: black; 
}
.box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}
.box__input-input{
  border: none;
  outline: none;
  background: rgb(225 225 220);
  width: 337px;
  padding: 10px;
  border-radius: 4px;
}
.box__input-btn{
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 4px;
  background: rgb(225 225 220);
}
.disabled{
  background: rgb(179, 172, 172);
  
}

.game_interface {
  margin-top: 15px;
}

.template_form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.template_form-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 1px solid #ddd;
}

#template_square {
  width: 50px;
  height: 50px;
  cursor: pointer;
  background: #fff;
  border: 1px solid #ddd;
  transition: all .3s;
}

.template_square_middle {
  background-color: #3e78de !important;
}

#template_square:hover,
.game_grid-block:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transform: scale(1.1);
}

.game_arena {
  width: 100%;
  margin: 20px 0;
}

.game_arena-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#game_grid {
  border: 1px solid #ddd;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.game_grid-block {
  display: inline-block;
  width: 25px;
  height: 25px;
  cursor: pointer;
  transition: all .3s;
  border: 1px solid #ddd;
  background-color: #fff;
}

.init_block {
  margin-top: 50px;
}