
.container{
    width: auto;
    position: relative;
}
.node_card {
    z-index: 4;
    background-color: #f1f1f1;

    
    text-align: center;
}

.value{

  
  width: 100%;
}
.line {
  z-index: -1;
  position: absolute;
  stroke: black;
  stroke-width: 2px;
}

.node {
  z-index: 5;
  position: absolute;
  width: 50px;
  height: 50px;
}
.node_header {
  cursor: move;
  padding: 10px;
  z-index: 5;
}

.node_block {
  text-align: center;
  width: 30px;
  height: 30px;
}
.block {
  position: absolute;
  z-index: 4;
    width: 30px;
    height: 30px;
    background-color: red;
    
  }

  #block1 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: move;

  }
  
  #block2 {
    top: 30%;
    left: 70%;
    cursor: move;

    transform: translate(-50%, -50%);
  }

.box__content{
  padding: 10px;
  background: grey; 
  width: 800px; 
  height: 500px;
  display: flex; 
  flex-direction: column; 
  justify-content: space-between;
}